.content {
    width: 80%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    font-size: 1.2em;
}


.article-list {
    margin-bottom: 40px;
}

.post-meta {
    color: #808080;
    font-style: italic;
}