* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d5dad3;
    font-family: sans-serif;
}

li {
    list-style: none;
}

h1 {
    padding: 30px;
    font-size: 32px;
}

p {
    padding: 16px;
    // font-size: 32px;
}
