* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #d5dad3;
    font-family: sans-serif;
}

h1 {
    padding: 30px;
    font-size: 32px;
}

// TODO: use rel size
h2 {
    padding: 20px;
}

p {
    padding: 16px;
    font-size: 18px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}